.philosophy {
  width: auto;
  height: auto;
  background-color: rgb(1, 17, 32);
}

.philosophy__title {
  height: 40px;
  padding-top: 8%;
  color: white;
  text-align: center;
}

.philosophy__value-list {
  display: flex;
  flex-direction: row;
  color: white;
  height: auto;
  width: auto;
  margin: auto;
  padding-top: 6%;
  padding-bottom: 14%;
  

  /* padding-bottom: 60px;
  padding-top: 45px; */
}

.philosophy__mindset-list {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(0deg, rgb(6 6 6 / 72%), rgb(21 12 12 / 75%)),
    url(../images/philosophy-image-change.jpeg);
  background-size: 100% 200%;
  height: 300px;
  font-size: 1.2rem;
  justify-content: center;
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 320px) {
  .philosophy {
    background-color: #001225;
    padding-top: 1px;
    padding-bottom: 10px;
  }

  .philosophy__title {
    font-size: 24px;
    text-align: center;
    vertical-align: center;
    font-weight: normal;
  }

  .philosophy__mindset-list {
    background-size:  100% 100%;
    height: 200px;
  
    /* vertical-align: center; */
  }

  .philosophy__value-list {
    height: 140px;
    margin: auto;
    width: 90%;
    padding-top: 6%;
    padding-bottom: 28%;
  }

  .table-like-list-item{
    height: auto;
  }

  .round-title-list-item{
    width: 100%;
    padding: 10px;
    
  }

}

@media only screen and (min-width: 800px) {
  .philosophy__value-list {
    padding-top: 6%;
    padding-bottom: 14%;
  }
  .philosophy__title {
    font-size: 34px;
    vertical-align: center;
    /* font-weight: normal; */
  }

  .philosophy__mindset-list {
    background-size: 100% 200%;
    background-position-y: bottom;
    height:250px;
    justify-content: center;
  }

  .table-like-list-item{
    justify-content: center;
    padding: 2%;

  }

  .table-like-list-item__description{
    position: absolute;
    left: 400px;
  }

  .table-like-list-item__title{
    font-size: 1,5em;
    width: 120px;
    position: absolute;
    left: 250px;
  }

  .round-title-list-item{
    height: 250px;
  }

  .round-title-list-item__title--greenbg{
    margin-bottom: 30px;
  }

  .round-title-list-item__title--bluebg{
    margin-bottom: 30px;
  }

  .round-title-list-item__title--redbg{
    margin-bottom: 30px;
  }

}
