/* .philosophy {
  background-color: rgb(1, 17, 32);
  padding-top: 15px;
  padding-bottom: 15px;
} */

.philosophy__title {
  color: white;
  padding-top: 20px;
  text-align: center;
}

.philosophy__value-list {
  display: flex;
  flex-direction: row;
  color: white;
  height: 200px;
  margin: auto;
  width: 50%;
  padding-bottom: 60px;
  padding-top: 45px;
}

.philosophy__mindset-list {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(0deg, rgb(6 6 6 / 72%), rgb(21 12 12 / 75%)),
    url(../images/philosophy-image-change.jpeg);
  background-size: 100% 200%;
  height: 300px;
  font-size: 1.2rem;
  justify-content: center;
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 320px) {
  .philosophy {
    background-color: #001225;
    padding-top: 1px;
    padding-bottom: 10px;
  }

  .philosophy__title {
    font-size: 24px;
    text-align: center;
    vertical-align: center;
    font-weight: normal;
  }

  .philosophy__mindset-list {
    background-size: 74% auto;
    height: 170px;
    justify-content: center;
  }

  .philosophy__value-list {
    height: 140px;
    margin: 0px auto;
    width: 100%;
    padding-bottom: 100px;
    padding-top: 5px;
  }

  .table-like-list-item__description{
    position: absolute;
    left: 95px;
    padding-top: 25px;
    
  }

  .table-like-list-item__title{
    position: absolute;
    left: 0;
    width: 70px;
    /* margin-top: 100px; */
    padding: 60px;
  }

    .round-title-list-item{
      width: 100%;
    }

    .table-like-list-item{
      width: 100%;
      justify-content: center;
    }
}

@media only screen and (min-width: 800px) {
  .philosophy__value-list {
    height: 200px;
    width: 80%;
    padding-bottom: 300px;
    padding-top: 30px;
  }

  .philosophy__title {
    font-size: 34px;
    vertical-align: center;
    font-weight: normal;
  }

  .philosophy__mindset-list {
    background-size: 100% 200%;
    background-position-y: bottom;
    height: 350px;
    justify-content: center;
  }

  .table-like-list-item__description{
    position: absolute;
    left: 400px;
  }

  .table-like-list-item__title{
    width: 70px;
  }

    .round-title-list-item{
      width: 100%;
    }

}
