
.teamwork {
  background-color:#2A323F;
  padding-bottom: 120px;
  text-align:center;
}
.teamwork__content {
  padding-top: 17%;
}
.teamwork__title {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.8em;
}

.teamwork__image{
  position: relative;
}

.teamwork__img1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.teamwork__img2{
  position: absolute !important;
  overflow: hidden;
  height: 94%;
  width: 94%;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

/* Extra Small Devices, Phones */
@media screen and (max-width: 1024px){
  .teamwork{
    padding-bottom: 90px;
  }
  .teamwork__img2{
    height: 90%;
    width: 90%;
    transform: translate(-50%,7%);
  }
  .teamwork__title{
    font-size: 1.6em;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 768px){
  .teamwork{
    padding-bottom: 90px;
  }
  .teamwork__img1 img {
    position: absolute !important;
    top: 35px !important;
    transform: scale(1.5);
  }
  .teamwork__img2{
    height: 90%;
    width: 90%;
    transform: translate(-50%,10%);
  }
  .teamwork__title{
    font-size: 1.3em;
    margin-bottom: 0;
  }
  .teamwork__content {
    padding-top: 20%;
  }
}
@media screen and (max-width: 480px){
  .teamwork{
    padding-bottom: 70px;
  }
  .teamwork__image{
    height: 155px ;
  }
  .teamwork__img2 {
    width: 80%;
    transform: translate(-50%,12%);
  }
  .teamwork__img1 img {
    transform: scale(1.6);
    top: 39px !important;
  }
  .teamwork__title{
    font-size: 1em;
  }
  .teamwork__content {
    padding-top: 29%;
  }
}

@media screen and (max-width: 320px){
  .teamwork{
    padding-bottom: 60px;
  }
  .teamwork__image{
    height: 145px ;
  }
  .teamwork__img2 {
    transform: translate(-50%,12%);
  }
  .teamwork__img1 img {
    transform: scale(1.6);
    top: 39px !important;
  }
  .teamwork__content {
    padding-top: 34%;
  }
}
